.ednote {  font-size: smaller; font-style: italic}
.textcol {  width: 622px}
pre {  text-align: left}
.tblrow2 { background-color: #CCCCCC }
.tblrow { background-color: #CCCC99 }
.colhd {  font-family: Arial, Helvetica, sans-serif; background-color: #FFCC99}
.legend {  font-family: Arial, Helvetica, sans-serif; background-color: #CCCCCC; font-size: smaller}
